html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Enter magnet URI
        link(rel="stylesheet" type="text/css" href="bulma/bulma.css")
    body
        .container
            form(action="/magnet" method="POST")
                .field
                    label.label Enter your Magnet URI
                    .control
                        input.input(type="text" name="magnetURI" required)
                .field
                    .control
                        button.button.is-link(type="submit") Submit
                